*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.hobbies{
    position: relative;
    font-size: 1.5em;
}

.hobbies:nth-child(even){
   margin-left: 60%;
}


.circle-image{
    border-radius: 50%;
    width:300px;
    height: 300px;
    overflow: hidden;
}
.circle-image img{
    width: 100%;
    height: auto;
}
.odd-text{
    position: absolute;
    top: 100px;
    left: 325px;
    color: #472D2D;
    font-size:30px;
    /* background-color:rgba(156, 30, 30, 0.7); */
    font-size: 22px;

}

.even-text{
    position: absolute;
    top: 100px;
    left: -570px;
    color: white;
    font-size: 30px;
    color:#472D2D;
    font-size: 22px;
    /* background-color:rgba(156, 30, 30, 0.7); */

}


